<h1>Employee Index</h1>

<ul>
    <% @employees.each do |employee|%>
        <li><%= link_to employee.first_name, employee_path(employee) %></li>
    <% end %>
</ul>


<% @employees.each do |employee|%>
<div class="row">
    <div class="col s9 m5">
      <div class="card">
        <div class="card-image">
          <img src="https://i.pinimg.com/474x/45/11/c5/4511c5871ff8011385b023be70878d81.jpg">
          <span class="card-title"><%= employee.first_name %></span>
        </div>
        <div class="card-content">
          <p><%= employee.bio %></p>
        </div>
        <div class="card-action">
          <p><%= link_to "Schedule an appointment with " + employee.first_name , new_employee_appointment_path(employee) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
