<div class= "container" >
<br>
<br>
<br>
<h3> alter your appointment </h3>
<br>
<br>
<br>
<%= render partial: "form", locals: { appointment: @appointment, button_name: "Edit Appointment", } %>
</div>
    <br>
    <br>
    <br>
<%= render partial: "/layouts/footer" %>