<h1>Appointment Index</h1>

<ul>
    <% @appointments.each do |appointment|%>
        <li><%= link_to appointment.name, appointment_path(appointment) %></li>
        <ul><%= appointment.appointment_date %></ul>
    <%end%>
</ul>