<div class= "container">
<br>
<br>
<br>
<h3>&nbsp&nbsp&nbsp plan your visit</h3>
<br>
<br>
<br>

<%= render partial: "form", locals: { appointment: @appointment, button_name: "Schedule Appointment" } %>

</div>
<br>
   
<%= render partial: "/layouts/footer" %>




