  
  
  <nav>
     <ul>
       <li><%= link_to("Home", root_path)%></li>
       <li><%= link_to("Appointments", appointments_path)%></li>
       <li><%= link_to("Schedule an Appointment", new_appointment_path)%></li>
     </ul>
  </nav>